html {      height:100%;
		   background: url(../img/background/bg.jpg) no-repeat center center fixed; 
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			  background-color:#000000;
		  font-family: sans-serif; /* 1 */
		  font-size: 62.5%;
		  -webkit-font-smoothing: antialiased !important;
	      text-rendering: optimizeLegibility;		  
          -ms-text-size-adjust: 100%; /* 2 */
          -webkit-text-size-adjust: 100%; /* 2 */}

*, *::after, *::before {
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		   box-sizing: border-box;  }
	



/* ---------------------------------------------Menu */



#barramenu {background-color:rgba(0,0,0,0.7);
			  position: fixed;
			width: 9.8%;			
			min-height: 30px;
			bottom: 44px;
			    }


#menuinferior {  	  width: 100%;
			  box-sizing: border-box; 
			  position: fixed;
			  bottom:2.0rem;  
              z-index: 10;
			  }
  
 #menuinferior ul {  
			 margin-left:15%;
			 list-style-type: none;	
			 }

			

#menuinferior li {	
			font-family: 'Raleway', sans-serif;
			font-size:1.7rem;
			padding-left:0.2rem;
			font-weight:400;
			display: inline;
			
			
			}
		

#menuinferior li a  {
			color:rgba(255,255,255,1);
			text-decoration:none;
			padding: 5px 40px 5px 40px;			
		    background-color: rgba(0,0,0,0.7) }
			
#menuinferior li a:hover {color:#ffffff;
            background:rgba(0,0,0,0.4);			
	
			}			
			
/* --------------------------Icons Menu */			
.icons-menu { width:3.5rem; 
			height: 3.5rem;
			}
			
			
/* ---------------------------------------------Menu responsivo */
	
	
	#lateral {
	padding:0 50px 0 0;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	 -webkit-transition: all 0.5s ease;
	 -o-transition: all 0.5s ease;
	font-size:1.2em;
	height:100%;
	overflow:hidden;
	width:350px; 
	position:fixed;
	top:0;
	left:-340px;
	z-index:10
	}
#lateral:before {
	;
	content: url(../img/icons/menubar.svg);
	overflow:hidden;
	position:fixed;
	left:20px;
	top:20px;
	}
	
	::-webkit-scrollbar { 
    display: none; 
}
#lateral:hover:before, #lateral:focus:before {
left:-600px;
	}
#lateral:hover, #lateral:focus,  #lateral:active  {
	overflow:hidden;
	-moz-transform: translate(340px, 0);
		-webkit-transform: translate(340px, 0);
			-o-transform: translate(340px, 0);
				transform: translate(340px, 0);
	padding-right:0;
	background:rgba(0,0,0, 1);
	}	
	
	
	
	#lateral .box {
	list-style-type:none;
	margin-bottom:1em;
	margin-left:1em;
	padding-bottom:1em;
	
	}

#menu {
	font-family: 'Work Sans', sans-serif;
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
	}
	
#menu li {padding:0; margin:0;}
#menu li a,  #menu li a:link {
	font-size:1.2em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	-moz-transition: all 1.2s ease;
			-webkit-transition: all 1.2s ease;
				-o-transition: all 1.2s ease;
					transition: all 1.2s ease;
	}
#menu li a:hover {
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	-moz-transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
	}
	
	#socialiconsmenu {position: fixed;
					  bottom: 2rem;  
					  margin-left: 1.5rem;
						}
   #socialiconsmenu a { padding-right: 5px;}
   
   #socialiconsmenu .icons-menu { width:3.8rem; 
			height: 3.8rem;}
			
/* ------------------------------------------------------ logo*/
#logo { position: absolute;
			left: 50%;
			top: 40%  ;
			margin-left:-40px;
			margin-top:-95px;
			z-index:-1;
					  
}
  
.cir_01 { position: relative;
		  top: 20px;	
		  background-color: rgba(255,255,255,0.12);
		  width:100px;
		  height:100px;
		  border-radius:50%;
		 }
		  
.cir_02 { position: relative;
		  top: -30px;
		  left:-40px;		  
          background-color: rgba(255,255,255,0.12);
		  width:100px;
		  height:100px;
		  border-radius:50%}

.cir_03 { top:-130px;
		  left: 35px;
		  position: relative;
		  background-color: rgba(255,255,255,0.12);
		  width:100px;
		  height:100px;
		  border-radius:50%}
		  
.logo_text	{position: relative;
			color: rgba(255,255,255,0.4);	
			top:-120px;
			margin: auto -53px;
			font-family: 'Quicksand', sans-serif;
			font-size:3.2rem;
			font-weight:300;
			cursor:default}			
   

